.signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.signup-container {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: #fff;
  border: 3px solid black;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  font-size: 14px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.checkbox-label:hover {
  color: gray;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  margin-right: 8px;
}

.checkbox:checked + .checkbox-custom:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
}

.signup-submit-container {
  margin-top: 5px;
  text-align: center;
}

.submit-line {
  margin-top: 0.5px;
}
