#form-container {
  background-color: white;
}

h3,
h5 {
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}

.appeal-form {
  margin-top: 40px;
}

hr {
  width: 90%;
  margin: 10px auto 30px auto;
  height: 3px;
  background-color: black;
  border: none;
}

.casenum-hr {
  margin-bottom: 50px;
}

.sol-div {
  margin-top: 50px;
}

.casenumber-input {
  width: 65%;
}

.casenumber-input:focus {
  outline-color: red;
  outline-style: dotted;
}

label {
  padding: 0 20px;
}

.input-container {
  padding-left: 25px;
}

.appeal-cover-form-input {
  border: none;
  border-bottom: 1.5px dotted black;
  padding: 4px;
  outline: none;
  width: 90%;
  display: inline-block;
  margin: 10px auto;
}

.appeal-cover-form-input:focus {
  border-bottom: 1.5px dotted red;
}

.remove-button {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.party-container {
  display: flex;
  align-items: center;
}

.party-label {
  flex: 1;
}

.add-party-button {
  margin-right: 2vw;
  width: 120px;
  height: 30px;
  background-color: white;
  border-radius: 0p;
  border: 2px solid black;
  color: black;
  font-size: 12px;
  cursor: pointer;
}

.add-party-button:active {
  transform: translate(2px, 2px);
}

.generate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.generate-button {
  width: 120px;
  height: 30px;
  background-color: black;
  border-radius: 0p;
  border: 2px solid black;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.save-button {
  padding: 5px 0;
  height: 40px;
}
